<html>
<head>
	<title>Distillery</title>
	<link rel="stylesheet" type="text/css" href="/distillery.css">
</head>
<body>

<div>
	<h2>Satisfy Yourself</h2>

<div class="beer">
	<h4>Beer</h4>
		<ul style="list-style-type:none">
			<li>Ale</li>
			<li>Lager</li>
			<li>Malt</li>
			<li>Porter</li>
			<li>Stout</li>
		</ul>
</div>

<div>
	<h4>Brandy</h4>
	<ul style="list-style-type:none">
		<li>Cognac</li>
		<li>Armagnac</li>
	</ul>
</div>

<div class="rum">
	<h4>Rum</h4>
		<ul style="list-style-type:none">
			<li>Light</li>
			<li>Gold</li>
			<li>Dark</li>
			<li>Spiced</li>
			<li>Flavored</li>
			<li>Overproof</li>
			<li>Premium</li>
		</ul>
</div>

<div class="tequila">
	<h4>Tequila</h4>
		<ul style="list-style-type:none">
			<li>Gold</li>
			<li>Silver</li>
			<li>Reposado</li>
			<li>Añejo</li>
			<li>Extra Añejo</li>
		</ul>
</div>

<div class= "whiskey">
	<h4>Whiskey</h4>
		<ul>
			<li>Bourbon</li>
			<li>Irish Whiskey</li>
			<li>Malt</li>
			<li>Rye</li>
			<li>Scotch</li>
			<li>Tennessee Whiskey</li>
		</ul>
</div>

<div class="wine">
	<h4>Wine</h4>
	<ul style="list-style-type:none">
		<div class="red">
		<li>Reds
			<ul>
				<li>Cabernet Sauvignon</li>
				<li>Malbec</li>
				<li>Merlot</li>
				<li>Pinot Noir</li>
				<li>Shiraz</li>
				<li>Zinfandel</li>
			</ul>
		</li>
		</div>

		<div class="white">
		<li>Whites
			<ul>
				<li>Chardonnay</li>
				<li>Riesling</li>
				<li>Pinot Grigio</li>
				<li>Moscato</li>
				<li>Sauvignon Blanc</li>
				<li>Semillon</li>
			</ul>
		</li>
		</div>
	</ul>
</div>

<div class="vodka">
	<h4>Vodka</h4>
</div>

<div class="liqueurs">
	<h4>Liqueurs</h4>
</div>


</div>

</body>
</html>