<html>
<head>
	<title>Distillery</title>
	<link rel="stylesheet" type="text/css" href="/distillery.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Questrial|Radley' rel='stylesheet' type='text/css'>
<script>
$(document).ready(function(){
	// $(window).load(function(){
	$("#banner").fadeIn(4000);
	});
});	


</script>
</head>
<body>

<div class="chris-edit">
<body style="margin:0";>
	

	<header>
		<div class="navbar-cm">
			 <ul class="far-right-cm">
			 	<li><a href="#about">About</a></li>
			 	<li><a href="#pricing">Pricing</a></li>
			 	<li><a href="#contacto">Contact Us</a></li>
			 <ul>

		</div>
	</header>

	
    <section class="firstpage">
     
     <div class="banner">
     	<h1 id="banner" font size"16">Distillery</h1>
     </div>

     <div class="slogan">Satisfy Yourself.</div>

	 <div class"first-wrapper"></div>
  
    </section>


    <section>
     <!--About us-->

     <a name ="about"></a> 
<div class="service">

	<div id="whatis">
		<h2>What is Distillery?</h2>


		<p>Distillery is a delivery service for beer, spirits, liqueurs and more. You choose what you want, we deliver where you want.</p>
	</div>

	<div id="inMind">
		<h2>We Keep You in Mind</h2>
		<p>We have a multitude of different brands for palate. We have bi-weekly and monthly plans that suit you. We'll also send you recipes, suggestions and tips to make your experience even better.</p>
	</div>

	<div id="covered">
		<h2>We've Got You Covered</h2>
		<p>Looking for a perfect bottle of Shiraz? Want to try a brand new IPA? Want to make a toast with the classics?</p>
	</div>
</div>
       <a name ="pricing"></a>
	<div class="pricing">
		<h2 id="slight-left">Pricing</h2>
				<div class="weekly">
					<h3>Bi-Weekly Pricing</h3>
					<ul style="list-style-type:none">
						<li>Two Bottles</li>
						<li>$48.95</li>
					</ul>
				</div>	

				<div class="monthly">
					<h3>Monthly Pricing</h3>
					<ul style="list-style-type:none">
						<li>Five Bottles</li>
						<li>$129.95</li>
					</ul>
				</div>	
	</div>
    </section>

    <section>
    	<!--Liquor List-->
    	<div class="alcoholist">

	<h2>Satisfy Yourself</h2>

<div class="beer">
	<h4>Beer</h4>
		<ul style="list-style-type:none">
			<li>Ale</li>
			<li>Lager</li>
			<li>Malt</li>
			<li>Porter</li>
			<li>Stout</li>
		</ul>
</div>

<div>
	<h4>Brandy</h4>
	<ul style="list-style-type:none">
		<li>Cognac</li>
		<li>Armagnac</li>
	</ul>
</div>

<div class="rum">
	<h4>Rum</h4>
		<ul style="list-style-type:none">
			<li>Light</li>
			<li>Gold</li>
			<li>Dark</li>
			<li>Spiced</li>
			<li>Flavored</li>
			<li>Overproof</li>
			<li>Premium</li>
		</ul>
</div>

<div class="tequila">
	<h4>Tequila</h4>
		<ul style="list-style-type:none">
			<li>Gold</li>
			<li>Silver</li>
			<li>Reposado</li>
			<li>Añejo</li>
			<li>Extra Añejo</li>
		</ul>
</div>

<div class= "whiskey">
	<h4>Whiskey</h4>
		<ul style="list-style-type:none">
			<li>Bourbon</li>
			<li>Irish Whiskey</li>
			<li>Malt</li>
			<li>Rye</li>
			<li>Scotch</li>
			<li>Tennessee Whiskey</li>
		</ul>
</div>


<div class="wine">
	<h4>Wine</h4>
	<ul style="list-style-type:none">
		<div class="red">
		<li class="gone">Reds
			<ul style="list-style-type:none">
				<li>Cabernet Sauvignon</li>
				<li>Malbec</li>
				<li>Merlot</li>
				<li>Pinot Noir</li>
				<li>Shiraz</li>
				<li>Zinfandel</li>
			</ul>
		</li>
		</div>

		<div class="white">
		<li class="gone">Whites
			<ul style="list-style-type:none">
				<li>Chardonnay</li>
				<li>Riesling</li>
				<li>Pinot Grigio</li>
				<li>Moscato</li>
				<li>Sauvignon Blanc</li>
				<li>Semillon</li>
			</ul>
		</li>
		</div>
	</ul>
</div>

<div class="vodka">
	<h4>Vodka</h4>
</div>

<div class="liqueurs">
	<h4>Liqueurs</h4>
</div>

</div>
    </section>


    <section>
    	<a name="contacto"></a>
      <!--Contact-->
       <div id="wrapper">
       	    <div class="contact">
     			<h2 id="slide-right">Contact Us</h2>
     				<p>Have some questions, suggestions or your just a fan of Distillery? Reach out to us. We'd love to hear from you!</p>
     		</div>
        <div id="top">
        </div>
        <div id="email">
            <form method="POST" action="/contact_us">
                <h3 class="title" > Name:</h3>
                <input class="field" type="text" name="name" value="your name"><br>
                <h3 class="tittle">E-mail:</h3>
                <input class="field" type="text" name="email" value="your email"><br>
                <h3 class="tittle">YOUR INQUIRY</h3>
                <textarea id="comment" name="comment"></textarea><br> 
                <input class="bottom" type="submit" value="Send">
                <input class="bottom" type="reset" value="Reset">
            </form>
        </div>

        <div>
            <i class="fa fa-align-left fa-3x" id="check" ></i>
        </div>

    </div>
    <footer>
    <a href="http://www.facebook.com"><i class="fa fa-facebook-official"></i></a>
    <a href="http://www.instagram.com"><i class="fa fa-instagram"></i></a>
    <p class="responsible">Please drink responsibly.</p>
    </footer>
        <script> 
            $(document).ready(function(){
                var turn=0
                $("#check").click(function(){
                    if (turn==0){
                        $("#email").animate({left: '930px'},1000);
                        turn=1
                    }else{
                        $("#email").animate({left: '100px'},1000);
                    turn=0
                    }
                });
            });
        </script> 
    </section>

</body>

</html>
