<html>
<head>
	<title>Distillery</title>
	<link rel="stylesheet" type="text/css" href="/distillery.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

<div=class="chris-edit">
<body style="margin:0";>
	
	<header>
		<div class="navbar-cm">
			 <ul class="far-right-cm">
			 	<li>About</li>
			 	<li>List</li>
			 	<li>Contact Us</li>
			 	<li>Log In</li>
			 <ul>

		</div>
	</header>

	
    <section class="firstpage">
     
     <div class="banner">
     	<h1 font size"16">Distillery</h1>
     </div>

	 <div class"first-wrapper"></div>
  
    </section>


    <section>
     <!--About us-->
<div class="service">
		<h2>What is Distillery?</h2>
		<p>Distillery is a delivery service for beer, spirits, liqueurs and more. You choose what you want, we deliver where you want.</p>

		<h2>We Keep You in Mind</h2>
		<p>We have a multitude of different brands for palate. We have bi-weekly and monthly plans that suit you. We'll also send you recipes, suggestions and tips to make your experience even better.</p>

		<h2>We've Got You Covered</h2>
		<p>Looking for a perfect bottle of Shiraz? Want to try a brand new IPA? Want to make a toast with the classics?</p>
	</div>

	<div class="pricing">
		<h2>Pricing</h2>
				<div class="weekly">
					<h3>Bi-Weekly Pricing</h3>
					<ul style="list-style-type:none">
						<li>Two Bottles</li>
						<li>$48.95</li>
					</ul>
				</div>	

				<div class="monthly">
					<h3>Monthly Pricing</h3>
					<ul style="list-style-type:none">
						<li>Five Bottles</li>
						<li>$129.95</li>
					</ul>
				</div>	
	</div>
    </section>

    <section>
    	<!--Liquor List-->
    	<div class="alcoholist">

	<h2>Satisfy Yourself</h2>

<div class="beer">
	<h4>Beer</h4>
		<ul style="list-style-type:none">
			<li>Ale</li>
			<li>Lager</li>
			<li>Malt</li>
			<li>Porter</li>
			<li>Stout</li>
		</ul>
</div>

<div>
	<h4>Brandy</h4>
	<ul style="list-style-type:none">
		<li>Cognac</li>
		<li>Armagnac</li>
	</ul>
</div>

<div class="rum">
	<h4>Rum</h4>
		<ul style="list-style-type:none">
			<li>Light</li>
			<li>Gold</li>
			<li>Dark</li>
			<li>Spiced</li>
			<li>Flavored</li>
			<li>Overproof</li>
			<li>Premium</li>
		</ul>
</div>

<div class="tequila">
	<h4>Tequila</h4>
		<ul style="list-style-type:none">
			<li>Gold</li>
			<li>Silver</li>
			<li>Reposado</li>
			<li>Añejo</li>
			<li>Extra Añejo</li>
		</ul>
</div>

<div class= "whiskey">
	<h4>Whiskey</h4>
		<ul>
			<li>Bourbon</li>
			<li>Irish Whiskey</li>
			<li>Malt</li>
			<li>Rye</li>
			<li>Scotch</li>
			<li>Tennessee Whiskey</li>
		</ul>
</div>

<div class="wine">
	<h4>Wine</h4>
	<ul style="list-style-type:none">
		<div class="red">
		<li>Reds
			<ul>
				<li>Cabernet Sauvignon</li>
				<li>Malbec</li>
				<li>Merlot</li>
				<li>Pinot Noir</li>
				<li>Shiraz</li>
				<li>Zinfandel</li>
			</ul>
		</li>
		</div>

		<div class="white">
		<li>Whites
			<ul>
				<li>Chardonnay</li>
				<li>Riesling</li>
				<li>Pinot Grigio</li>
				<li>Moscato</li>
				<li>Sauvignon Blanc</li>
				<li>Semillon</li>
			</ul>
		</li>
		</div>
	</ul>
</div>

<div class="vodka">
	<h4>Vodka</h4>
</div>

<div class="liqueurs">
	<h4>Liqueurs</h4>
</div>

</div>
    </section>
     
    <section>
      <!--Contact-->
       <div id="wrapper">
        <div id="top">
        </div>
        <div id="email">
            <form method="POST" action="/contact_us">
                <div id="col-1-form">
                    <h3 class="tittle" >First name*</h3>
                    <input class="field" type="text" name="first_name" value="your name">
                </div>
                <div id="col-1-form-2">
                    <h3 class="tittle_2" >Last name*</h3>
                    <input class="field_2" type="text" name="last_name" value="your name">
                </div>
                <div id="col-2-form">
                    <h3 class="tittle">E-mail*</h3>
                    <input class="field" type="text" name="email" value="your email">
                </div>
                <div id="col-2-form-2">
                    <h3 class="tittle_2">Topic*</h3>
                    <select class=field_2 >
                        <option value="suggestion">Suggestion</option>
                        <option value="order_status">Order status</option>
                        <option value="join_us">Join us</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div id="col-3-form">
                    <h3 id="tittle_3">Your Enquiry*</h3>
                    <textarea  id="comment" name="comment"></textarea> 
                </div>
                <div id="col-3-form-2">
                    <input class="bottom" type="submit" value="Send">
                </div>
                <div id="col-3-form-3">
                <input class="bottom" type="reset" value="Reset">
                </div>
            </form>
        </div>

       <div id = "new">
            <a id="nav-toggle" ><span></span></a>
        </div>
    </div>
    
    <footer>
        <div id="foot">
            <ul>
                <li><a href="https://www.facebook.com/Distillery-770720876370714/timeline/"><i class="fa fa-facebook-official fa-lg"></i></a></li>
                <li><a href="https://www.twitter.com"><i class="fa fa-twitter-square fa-lg"></i></a></li>
                        <li><a href="https://www.instagram.com"><i class="fa fa-instagram fa-lg"></i></a></li>
                        <li><a href="https://www.youtube.com"><i class="fa fa-youtube-play fa-lg"></i></a></li>
            </ul>
        </div>
        <div id="vic-left">
            <ul>
                <li>90 John's st #404</li>
                <li>New York, NY 10038</li>
                <li> (212) 571-7400<li>
            </ul>
        </div>

        <div id="vic-up">
            <p ><a href="/distillery"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></a></p>
            <p id="scroll-top">SCROLL TO TOP</p>
        </div>
        <div id="vic-right">
            <p>Always Open.</p>
            <p class="vic-slogn">Always Serving Responsibly</p>
            <p class="vic-slogn">Copyright &copy; 2015 Distillery, NY</p>
        </div>

    </footer>
    
    <script> 
        $(document).ready(function(){
            var turn=0
            $("#nav-toggle").click(function(){
                if (turn==0){
                    $("#email").animate({left: '930px'},1000);
                    turn=1
                }else{
                    $("#email").animate({left: '10px'},1000);
                    turn=0
                }
            });
        });
    </script>
    <script>
        document.querySelector( "#nav-toggle" )
            .addEventListener( "click", function() {
                this.classList.toggle( "active" );
            });
            $("#nav-toggle").click(function() {
            });

        function blinker() {
                $('#nav-toggle').fadeOut(1000).fadeIn(1000);
            }
            setInterval(blinker, 500);
    </script>
    </section>

</body>

</html>
