<html>
<head>
	<title>Distillery</title>
	<link rel="stylesheet" type="text/css" href="/distillery.css">
</head>

<body>
	<div class="service">
		<h2>What is Distillery?</h2>
		<p>Distillery is a delivery service for beer, spirits, liqueurs and more. You choose what you want, we deliver where you want.</p>

		<h2>We Keep You in Mind</h2>
		<p>We have a multitude of different brands for palate. We have bi-weekly and monthly plans that suit you. We'll also send you recipes, suggestions and tips to make your experience even better.</p>

		<h2>We've Got You Covered</h2>
		<p>Looking for a perfect bottle of Shiraz? Want to try a brand new IPA? Want to make a toast with the classics?</p>
	</div>

	<div class="pricing">
		<h2>Pricing</h2>
				<div class="weekly">
					<h3>Bi-Weekly Pricing</h3>
					<ul style="list-style-type:none">
						<li>Two Bottles</li>
						<li>$48.95</li>
					</ul>
				</div>	

				<div class="monthly">
					<h3>Monthly Pricing</h3>
					<ul style="list-style-type:none">
						<li>Five Bottles</li>
						<li>$129.95</li>
					</ul>
				</div>	
	</div>

	<footer class="footer">
		<p>Please drink responsibly.</p>
	</footer>
</body>

</html>